extends main

block content
    h1=title
    p betbot server starts successfully!
    p
        span go to&nbsp;
        a(href='/run') /run
        span  to start parsing events
    p
        span go to&nbsp;
        a(href='/stop') /stop
        span  to stop parsing events